@tailwind base;

@tailwind components;

@tailwind utilities;


@layer components{

    .text-orange{
        @apply font-bold text-do-custom-orange;
    }

    .title{
       @apply font-bold text-lg my-3
    }

    .input-gray{
        @apply mt-1 block w-full rounded-full backdrop-blur-sm bg-custom-gray border-0
    }

    .input-gray-textarea{
        @apply  mt-1 h-20 p-2 block w-full rounded-2xl backdrop-blur-sm bg-custom-gray border-0
    }

    .panel-gray{
        @apply  grid grid-cols-1 sm:grid-cols-3  gap-4 bg-custom-gray rounded-2xl p-4 pb-6;
    }

    .custom-btn-primary{
        @apply py-1 px-3 text-white bg-custom-orange rounded-full hover:bg-custom-orange-500
    }

    .stepper-step{
        @apply sm:mr-3 grow;
    }

    .stepper-step:first-child{
        @apply grow-0 ;
    }

    .stepper-step .stepper-number{
        @apply  bg-custom-gray rounded-full w-6 h-6 sm:w-7 sm:h-7  text-sm flex items-center justify-center text-custom-dark-gray;
    }

    .stepper-desc{
        @apply mt-2 text-xs
    }

    .stepper-step.active .stepper-number{
       @apply  bg-custom-orange  text-white;
    }

    .stepper-step::before{
        @apply bg-gray-400 mr-2 mb-6 w-full grow flex-1
    }

    .stepper-step.active::before{
        @apply bg-custom-orange
    }
}

.stepper-step::before{
    content: "";
    height: 1px;
}

.stepper-step.active:first-child::before{
   display: none;
}


@media screen and (max-width: 648px) {

    :root, html{
        font-size: 14px;
    }
    
}